body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.text-white {
  color: white !important;
}

.bg-white {
  background-color: white !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;