body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.text-white {
  color: white !important;
}

.centered-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg-gray-100 {
  background-color: #f3f4f6;
}

.bg-white {
  background-color: white !important;
}

.text-gray-600 {
  color: #4b5563;
}


.text-gray-700 {
  color: #374151;
}


.bg-black {
  background-color: black !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;