body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.text-white {
  color: white !important;
}

.centered-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg-white {
  background-color: white !important;
}

.bg-black {
  background-color: black !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;